.card {
  width: 450px;
  padding: 15px;
}

.card.inProgress {
  background-color: #d0d0d0
}

.card.done {
  background-color: #ffa0a7;
}

.text {
  margin-bottom: 20px;
  width: 100%;
}

.date {
  text-align: right;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button {
  margin: 9px;
}
